@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #610599;
}

body {
  padding: 20px;
  background-color: #FAD5DF;
  font-family: 'Press+Start+2P', sans-serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAChJREFUKFNjfKJU858BDYhtTkYXYmAcCgp/Xb2P4ZlXvnMxPTMEFAIAOHwt8QqqpC0AAAAASUVORK5CYII=
) repeat;
  opacity: 0.5;
}

a {
  color: violet;
  font-family: 'Press+Start+2P', sans-serif;
}

a:hover, a:active{
  text-decoration: underline;
  color: #990099;
}

center {
  display: block;
  text-align: -webkit-center;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 600px;
}

hr.dashed {
  border-top: 4px dashed #990099;
}

img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

/* Navbar style for home */

.nav-1 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  background-color: #E4227C;
}

.nav-1 h1 {
  font-size: 50px;
  font-family: 'Press+Start+2P', sans-serif;
  font-style: bold, italic;
  margin-bottom: 20px;
  color: #990099

}

.nav-1 a {
  padding-left: 20px;
  padding-right: 20px;
}

/* sidenav = sidebar nav */

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  font: 12px, 'Press-Start-P2', sans-serif;
  top: 20px;
  left: 10px;
  background-color: inherit;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover{
  color: inherit;
}

.sidenav a:visited {
  color: #FFA5FF;
}


.sidenav .wrapper {
  background: top left repeat-y
  padding: 10px;
    width: 179px;
}

.page-wrapper {
  margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding: 0px;
width: 691px;
text-align: left;
position: relative;
border-left: 1px solid #F1F1F1;
border-right: 1px solid #F1F1F1;
background-color: #610599;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

.top-sec {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

/*gallery2 flexbox */

.gallery-container-size {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px;
  border: 1px dashed pink;
  background-color: #FFA5FF;
}

.gallery-container-size img:hover {
	opacity: 0.8;
}

.gallery-item-square {
  padding: 0px;
  text-align: center;
  flex: 50%;
}
