center {
  display: block;
  text-align: -webkit-center;
}

hr.dashed {
  border-top: 4px dashed #990099;
}

table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-auto-rows: 100px 100px
  grid-gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
  grid-auto-flow: dense;
}
